* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/helveticaneuecyr-bold.ttf");
}

@font-face {
    font-family: HelveticaLight;
    src: url("../fonts/helveticaneuecyr-light.ttf");
}

@font-face {
    font-family: HelveticaMedium;
    src: url("../fonts/helveticaneuecyr-medium1.ttf");
}

@font-face {
    font-family: HelveticaRoman;
    src: url("../fonts/helveticaneuecyr-roman.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-family: HelveticaBold, sans-serif;
    overflow-x: hidden;
    color: white;
}

.main {
    padding: 50px 0 194px;
}

.container {
    max-width: 1213px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    margin-left: 45px;
}

.menu-item {

}

.menu-item a {
    font-size: 18px;
    color: #fff;
    font-family: HelveticaRoman, sans-serif;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s;
}

.menu-item a:hover {
    border-bottom: 1px solid white;
}

.main-content {
    margin-top: 44px;
}

.main-content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content h1 {
    font-size: 60px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    width: 400px;
}

.main-text {
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff; /* Для браузеров на базе WebKit */
    margin-bottom: 25px;
    color: transparent;
}

.main-description {
    font-family: HelveticaRoman, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 103%;
    width: 380px;
    margin-bottom: 37px;
}

.button {
    border-radius: 500px;
    padding: 15px 30px;
    width: 149px;
    height: 55px;
    box-sizing: border-box;
    background: #ff7a00;
    border: 0;
    font-family: HelveticaMedium, sans-serif;
    font-size: 24px;
    line-height: 103%;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.button:hover {
    box-shadow: 0 0 20px 4px rgba(255, 122, 0, 0.7);
}

.how {
    padding-top: 107px;
    background-image: url("../images/web.png");
    background-position: left;
    /*background-size: cover;*/
}

.how-text {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.how-description {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #ffffff;
    color: transparent;
    width: 700px;
    margin-bottom: 16px;
}

.how-items {
    margin-top: 84px;
    position: relative;
    padding-bottom: 640px;
}

.how-item {
    position: absolute;
    top: 0;
    left: -50px;
    transition: all .3s;
}

.how-item.second {
    top: 165px;
    left: 340px;
    height: 300px;
}

.how-item.third {
    top: -65px;
    /*right: 370px;*/
    /*left: auto;*/
    left: 600px;
    height: 300px;
}

.how-item.four {
    top: 120px;
    left: 905px;
    height: 300px;
}



.how-item svg {
    position: relative;
    z-index: 10;
}



.how-item-text {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: absolute;
    top: -20px;
    left: 44px;
}

.how-item-text.second {
    top: 42px;
    left: -10px;
}

.how-item-text.third {
    top: 42px;
    left: 45px;
}

.how-item-text.four {
    top: 12px;
    left: 24px;
}

.how-item-number {
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1px #ffffff;
    margin-bottom: 15px;
    z-index: 10;
    color: transparent;
}

.how-item-description {
    font-weight: 700;
    font-size: 22px;
    line-height: 102%;
    width: 170px;
    z-index: 11;
}

.how-item-description-2 {
    margin-top: 10px;
    width: 260px;
    font-size: 18px;
    font-family: HelveticaMedium, sans-serif;
    z-index: 11;
}

.how-item-description-2.second {
    width: 150px;
}

.how-item-description-2.four {
    width: 250px;
}

.visible {
    opacity: 0;
    display: none;
    position: absolute;
    top: -303px;
    left: -75px;
    transition: all .3s;
}

.visible.second {
    top: -345px;
    left: -101px;
}

.visible.third {
    top: -395px;
    left: -100px;
}

.visible.four {
    top: -340px;
    left: -100px;
}

.how-item:hover .visible {
    display: block;
    opacity: 1;
}


.who {
    padding: 100px 0 337px;
}

.who-title {
    font-size: 60px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
}

.who-title::before {
    content: '-';
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
    position: absolute;
    top: -18px;
    left: -45px;
}

.who-description {
    font-family: HelveticaMedium, sans-serif;
    font-size: 24px;
    line-height: 118%;
    width: 760px;
    margin-bottom: 30px;
}

.who-choose {
    font-family: HelveticaLight, sans-serif;
    font-size: 24px;
    line-height: 118%;
    margin-bottom: 75px;
}

.who-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 890px;
    margin: 0 auto 136px;
}

.who-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 155px;
    position: relative;
}

.who-item-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 122, 0, 0.7);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
}

.who-item-blur.second {
    background: rgba(100, 200, 0, 0.7);
}

.who-item-blur.third {
    background: rgba(30, 76, 240, 0.7);
}

.who-item.second {
    width: 170px;
}

.who-item.third {
    width: 220px;
}

.who-item-title {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    z-index: 10;
}

.who-item-description {
    font-family: HelveticaLight, sans-serif;
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

.who-info {
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.who-text {
    font-size: 30px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    width: 600px;
    margin-bottom: 78px;
    z-index: 10;
}

.who-text.two {
    text-align: right;
    align-self: end;
    margin-right: 95px;
    margin-bottom: 130px;
}

.who-text3 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    width: 595px;
    margin: 0 auto;
    z-index: 10;
}

.who-actions {
    position: relative;
}

.who-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.who-image.one {
    top: 290px;
    left: -65px;
}

.who-image.two {
    top: 130px;
    left: 310px;
}

.who-image.three {
    top: 0;
    right: 0;
    left: unset;
}

.who-image.four {
    top: 560px;
    right: 280px;
    left: unset;
}

.who-image.five {
    top: 350px;
    right: -50px;
    left: unset;
}